a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-around;
  /* margin: 20px; */
  background-color: #212429;
  align-items: center;
  padding: 10px;
}

nav .nav-left h1{
  color: white;
}

/* nav .nav-middle a {
  margin: 20px;
} */

nav .nav-middle {
  display: flex;
}

nav .nav-middle li {
  list-style-type: none;
  margin: 20px;
  color: white;
}

nav button {
  border-radius: 20px;
  padding: 10px;
}

nav .burgerMenu {
  display: none;
  /* justify-content: space-around; */
}

nav .burgerMenu div {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 5px;
}

.nav-rightBar {
  height: 100vh;
  width: 30vw;
  position: absolute;
  background-color: #212429;
}

.nav-rightBar ul {
  height: 50%;
  padding-left: 5px;
}

.nav-rightBar li {
  list-style-type: none;
  margin: 30px 10px;
}

@media screen and (max-width: 1000px) {
  nav {
    justify-content: space-between;
  }
  nav .nav-middle a {
    display: none;
  }

  nav .burgerMenu {
    display: block;
  }

  nav .nav-right {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
  }
}


/* when zoom out, width > 1000px, will make the right bar disappear*/
@media screen and (min-width: 1000px) {
  .nav-rightBar {
    display: none;
  }
}
