.message {
    font-family: "Whitney", sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem;
}

span.message__username{
    font-weight: 600;
    font-size: 1.37rem;
}

.message > img {
    padding: 0.8rem;
    
    width: 3.47rem;
    padding-right: 0.5rem;
    object-fit: contain;
    border-radius: 50%;
}

.message__timestamp {
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
    color: grey;
    font-size: 0.8rem;
    font-weight: 300;

}

.message__info {
    margin: 0;
    padding: 0;
}