//COLORS
$color-lighter: #448ed8;
$color-light: #235a91;
$color-base: #234363;
$color-dark: #112133;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-card-blue-1: #00a6ff;
$color-card-blue-2: #2be4b3;
$color-card-purple-1: #862ffc;
$color-card-purple-2: #fa6cee;
$color-card-pink-1: #fc2ead;
$color-card-pink-2: #d599e4;

$color-greydark: #777;
$color-greydark-2: #999;
$color-greydark-3: #333;
$color-white: #FFF;
$color-black: #000;


//GRID
$grid-with: 69.9rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3.73rem;