.Doc{
    background-color: #F0EFE9;
    overflow: auto;
    height: 94vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#212429;
}

.Bold{
    font-weight: bold;
}

.Italic{
    font-style: italic;
}

.Code{
    font-family: 'Courier New', Courier, monospace;
}

.Strikethrough{
    text-decoration: line-through;
}

.Underline{
    text-decoration: underline;
}

.Buttons{
    margin: 2vh 18vw;
    color: #212429;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1500px) {
    .Buttons{
        margin: 2vh 10vw;
    }
}

@media only screen and (max-width: 1200px) {
    .Buttons{
        margin: 2vh 2vw;
    }
}

@media only screen and (max-width: 776px) {
    .Buttons{
        margin: 2vh 0vw;
        flex-wrap: wrap;
        
    }
}



.Raise:hover,
.Raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


.notebutton {
    background: none;
    border: none;
    font: inherit;
    line-height: 1%;
    margin: 0.1em;
    padding: 1em 1em;
}
  