.hero {
  background-color: #f3f4f5;
}

.hero2 {
  background-color: white;
}

.heroWrapper {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 200px;
}

.heroWrapperReverse {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding-top: 200px;
}

.heroImg {
  margin: 0 20px;
}

.heroImg img {
  width: 600px;
  height: 500px;
}

.heroContent {
  width: 400px;
}

.heroContent p {
  line-height: 30px;
}
