.containerDiv {
    display: flex;
    height: 80vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.videoDiv {
    display:inline-flex;
    flex-wrap: wrap;
    gap:5vw;
    height: 40vh;
    width: 30vw;
}