.IdNotfound {
    position: relative;
    height: 100vh;
    background-color: #f0efe9;
}

.IdNotfound .Notfound{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.Notfound .Notfound404 {
    position: relative;
    height: 240px;
}

.Notfound .Notfound404 h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #212429;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}

.Notfound .Notfound404 h1>span {
    text-shadow: -8px 0px 0px #f0efe9;
}

.Notfound .Notfound404 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212429;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

.Notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .Notfound .Notfound404 {
        height: 200px;
    }

    .Notfound .Notfound404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .Notfound .Notfound404 {
        height: 162px;
    }

    .Notfound .Notfound404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }

    .Notfound h2 {
        font-size: 16px;
    }
}