.hero {
  background-color: #f3f4f5;
}

.hero2 {
  background-color: white;
}

.hero-wrapper {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 200px;
}

.hero-wrapper-reverse {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding-top: 200px;
}

.hero-img {
  margin: 0 20px;
}

.hero-img img {
  width: 600px;
  height: 500px;
}

.hero-content {
  width: 400px;
}

.hero-content p {
  line-height: 30px;
}
