.TaskDiv {
  background-color: #f0efe9;
  padding: 2vh 1vw;
}

.TaskButton{
  margin-top: 3.5vh !important;
  background: none !important; 
  height: 40px !important;
  text-align: center !important;
  border: 2px solid #048A81 !important; 
  color: #048A81 !important;
  font: inherit !important;
  letter-spacing: 1px !important;
  text-shadow: 0 !important;
  text-transform: uppercase !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  transition: all 0.25s ease !important ; 
}

.TaskButton:hover {
  color: white !important;
  background: #048A81 !important;
}

.TaskButton:active{
  letter-spacing: 2px !important;
}

.AssignTo{
  margin-top: 1.7vh !important;
}