.PaginationNav{
    background-color: #F0efe9;
    margin-top: 1vh;
}

.PaginationButton{
    display: block !important;
    background: none !important;
    height: 4vh !important;
    width: 3vw !important;
    margin: 1vh 1vw !important;
    text-align: center !important;
    border: 2px solid #F45b69 !important;
    color:#F45b69 !important;
    font: inherit !important;
    letter-spacing: 1px !important;
    text-shadow: 0 !important;
    text-transform: uppercase !important;
    position: relative !important;
    top: 50% !important; 
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    transition: all 0.25s ease !important;
}

.PaginationButton:hover{
    color: white !important;
    background: #F45b69 !important;
}

.PaginationButton:active{
    letter-spacing: 2px !important;
}

