.sideBar1MinWidth {
  width: 5vw;
}

.sideBarContainerMargin {
  margin: 10px;
}

.workSpaceSeparator {
  margin-bottom: 0.5rem;
  width: 80%;
  border-bottom: 3px solid black;
  border-radius: 2px;
}

.workspaceIconUser {
  color: black;
  font-size: 1.5rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 3px 5px 2px rgba(175, 27, 63, 0.4);
}

.workspaceIcon {
  color: black;
  font-size: 0.8rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  width: 6.5rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 5px 2px rgba(175, 27, 63, 0.4);
}

.workspaceIcon:hover {
  text-decoration-line: none;
  border-radius: 50%;
  background: #0ac3c3;
}

.workspaceIconActive:hover::before {
  border-radius: 50%;
  content: "";
  position: absolute;
  background: #f45b69;
  width: 1rem;
  height: 1rem;
  margin-left: -6.5rem;
}

.workspaceIconActive::before {
  content: "";
  position: absolute;
  background: #f45b69;
  width: 0.3rem;
  height: 3rem;
  margin-left: -6.5rem;
}

/* sidebar 2  */
.sidebar2Background {
  background: #7e8287;
}

.featureIcon {
  color: #000;
  font-size: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 5px 2px rgba(175, 27, 63, 0.4);
  text-align: center;
}

.featureIconLink:hover{
  text-decoration-line: none;
}
