.box{
    width: 600px;
    border: 1px solid black;
    padding: 20px;
}

.tasks{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.task{
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 40%;
}

.task_box{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}